*,html {
    padding: 0;
    margin: 0;
    transition: all 0.5s;   
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    padding-top: 20px;
    width: 100%;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    display: flex;
    gap: 20px;
    align-items: center;
    width: 55%;
}

li {
    list-style: none;
}

a {
    color: #150C01;
    font-weight: 500;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a:hover {
    color: #DC780B;
}

.buttons {
    display: flex;
    gap: 20px;
}

.btn1 {
    height: 46px;
    width: 155px;
    background-color: #DC780B;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    color: white;
}


.btn2 {
    width: 158px;
    height: 60px;
    background-color: #DC780B;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: white;
}

.btn2:hover {
    background-color: white;
    color: black;
    border: 2px solid rgb(252, 242, 231);
    color: #DC780B;
}

.btn3 {
    background-color: white;
    color: #DC780B;
    border: 2px solid rgb(252, 242, 231);
}


.btn1, .btn3:hover {
    background-color: #DC780B;
    color: white;
}

main {
    padding-top: 50px;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}

.left-hero {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
}

h1 {
    font-size: 42px;
}

.text1 {
    font-size: 16px;
}

.round {
    background-color: rgb(244, 247, 235);
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 30px;
    border-radius: 50px;
}

.heading1 {
    color: rgb(232, 164, 90);
    justify-self: center;
    font-weight: 400;
    padding-bottom: 20px;
}

.heading2, .heading3 {
    color: #333;
    justify-self: center;
    font-size: 24px;
}


.cards-wrapper {
    display: flex;
    justify-content: space-around;
    padding-top: 40px;

}

.cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.text1 {
    text-align: center;
    color: gray;
}

.img2 {
    width: 400px;
}

/* SECTION3 */
.section3 {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.right-hero {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.heading5 {
    font-size: 24px;
}

.heading4, .heading5, .text1 {
    justify-self: start;
    text-align: start;
}

.btn4 {
    width: 142px;
    height: 42px;
    background-color: #DC780B;
    color: white;
    font-size: 20px;
    border: transparent;
    border-radius: 5px;
}

/* SECTION4 */

.section4 {
    padding-top: 100px;
}

.text2 {
    text-align: center;
    justify-self: center;
    padding-top: 30px;
    padding-bottom: 50px;
}

.menu-cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-bottom: 30px;
}

.cards-item {
    width: 360px;
    height: 446px;  
    border: 2px solid #0000001A;
    border-top-left-radius: 80px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.dollar {
    display: flex;
    justify-content: center;
}

.numberjon1 {
    margin-left: 110px;
}


.numberjon2 {
    margin-left: 200px;
}

.numberjon3 {
    margin-left: 200px;
}

.numberjon4 {
    margin-left: 20px;
}

.numberjon5 {
    margin-left:150px;
}

.numberjon6 {
    margin-left: 85px;
}


.img4 {
    width: 110%;
    border-top-right-radius: 10px;
    border-bottom-right-radius:50px;
    width: 360px;
    height: 264px;
}

.img3 {
    width: 88px;
    height: 16px;
}

.btn5 {
    width: 36px;
    height: 34px;
    background-color: #DC780B;
    border: transparent;
    border-radius: 5px;
    font-size: 22px;
    color: white;
}

.mealName {
    font-size: 24px;
    font-weight: 550;
}

.sentence {
    display: flex;
    justify-content: center;
}

.star-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

.btn6 {
    background-color: white;
    border: 2px solid #f7ebde;
    color: #DC780B;
    font-weight: 600;
    align-self: center;
    justify-self: center;
}

.button {
    display: flex;
    justify-content: center;
}

/* SECTION5 */

.section5 {
    background-color: #FBF1E7;
    padding-top: 150px;
    padding-bottom: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.left5 {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap:15px;
    margin-left: 200px;
}

.left5, .heading1 {
    padding: 0;
}

.buttonss {
    display: flex;
    gap: 20px;
    padding-top: 30px;
}

.right5 {
    width: 40%;
    position: relative;
}

.phone {
    position: absolute;
    top: -350px;
}

.text3 {
    text-align: start;
}

.apple {
    background-color: black;
}

.play {
    background-color: white;
    color: black;
}

.apps {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* SECTION6 */

.section6 {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding-bottom: 100px;
}

.testimonial {
    text-align: center;
    padding-bottom: 20px;
}

.name {
    font-size: 20px;
}

.work {
    font-size: 16px;
    color: gray;
}

/* SECTION7 */

.section7  {
    background-color: #FBF1E7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.contact {
    text-align: center;
}

input {
    width: 750px;
    height: 75px;
    border: none;
    border-top-left-radius:10px;
    border-bottom-left-radius: 10px;
}

.btn7 {
    width: 156px;
    height: 75px;
    border-radius: 10px;
    border: none;
    background-color: #DC780B;
    color: white;
}

form {
    display: flex;
    margin-top: 50px;
}

::placeholder {
    padding-left: 30px;
}

